
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@*<div class="row">
    <div class=" header col-12">
        @using (Html.BeginForm())
        {
            @Html.EnumDropDownListFor(m=>m.SearchModel.Selection)

            @Html.EditorFor(m=>m.SearchModel.SelectionKeyword)
            @Html.EditorFor(m=>m.SearchModel.SortField)
            <input type="submit">
        }
    </div>
</div>*@

List of timetables controllers
